<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<!-- 需要安装的ipa包在服务器的路径 -->
					<string>https://www.stwxsite.com/files?url=Mytest.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 安装时需要显示的大图标（1024*1024）在服务器的路径 -->
					<string>https://www.stwxsite.com/files?url=1024*1024.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<!-- 安装时需要显示的小图标（180*180）在服务器的路径 -->
					<string>https://www.stwxsite.com/files?url=180*180.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.star.project_test_1</string>
				<key>bundle-version</key>
				<string>1.1.4</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>测试客户端</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
